*.DS_Store
bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
/Dockerfile
/.apt_generated/
build
.gradle
.checkstyle
.factorypath
/data
/start.sh
src/main/node/node_*
